h1,
 h2,
 h3,
 h4, 
 h5, 
 h6,
p {
    
    margin-top: 0;
    margin-bottom: 0;
    
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    
}
button {
    cursor: pointer;
    
        
}
.list {
list-style-type: none;
}
.link{
   text-decoration: none; 
}
body {
    font-family: 'Roboto', sans-serif; 
    color: #434455;
    background-color: #ffffff;
    min-width: 320px;
   
}
.wrapper {
    
        overflow: clip;
        display: flex;
        flex-direction: column;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
    
.container{
        padding-left: 15px;
        padding-right: 15px;
     
}
.section{
padding-top: 96px;
padding-bottom: 96px;

}
  /* ==========Загальні стилі======== */
/* ============== HEADER MOBILE STYLES ================================= */
.menu {
    display: none;

}
.page-address-info{
    display: none;

}
.page-header {
    width: 100%;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}


.container-flex{
display: flex;
  align-items: center;
  justify-content: space-between;
}
   .logo-web{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
     color: #4d5ae5;
     display: block;
padding-top: 16px;
padding-bottom: 16px;

}

.logo-color {
    color: #2e2f42;}
        
/* ================= hero mobile styles========== */
.hero-section{
    padding-top: 112px;
    padding-bottom: 112px;
    margin-right: auto;
    margin-left: auto;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), 
    url(../images/mobilpeople-office-bark@1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

@media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), 
screen and (min-device-pixel-ratio: 2) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/mobilpeople-office-bark@2.jpg);
    }
}
.main-title  {
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}
    
.other-service{

display: block;
    margin-right: auto;
    margin-left: auto;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
    color: #FFFFFF;
}

  .other-service:hover,
  .other-service:focus{
    background-color: #404bbf;
  }
  /* ======================= OUR Section mobile*/
  .container-icon{
    display: none;
  }

.criteria-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 72px;}

.criteria-list-title{
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2E2F42; 

}

.text{
font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

/* ===============our  team mobile section */
.team-list {
background-color: #F4F4FD;}

.team-our{
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: auto;
    margin-left: auto;
}

.section-title{
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-section-our{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 72px;}


    .team-section-list-title,
    .portfolio-list-title
    {
        margin-bottom: 8px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;

    }
    .text-section{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 8px;
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

.team-section-list-item{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

}
.team-section-list-item:hover,
.team-section-list-item:focus{
background-color: #404bbf;}

.first-name{
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: auto;
    margin-left: auto;
}
.network-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}
.network-link-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network-link-item:hover,
.network-link-item:focus{
    background-color: #404bbf;

}
.link-icon{
    fill: #F4F4FD;
}
/* =======================Modil portfolio */
.portfolio{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 48px;

}
.portfolio-list{
    border: 1px solid #F4F4FD;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-list:hover,
.portfolio-list:focus{
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}  
.profession-list-img{
    width: 288px;
    height: 280px;
    object-fit: cover;
    object-position: center;
}
.container-profesiya{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.text-portfolio{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio-list:hover .text-app{
    transform: translateX(0%);
}
.text-ex-image{
    position: relative;
    overflow: hidden;

}
.text-app{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    padding: 40px 32px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =====================Mobile Footer================== */
.page-footer{
    background-color: #2E2F42;
    height: 664px;
}

.footer-one-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 17px;
    margin-bottom: 72px;
}
.page-footer-list{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;}
.logo-title-studio{
    color: #F4F4FD;
}

.text-footer-paragraphe {
width: 288px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;


}
.container-networks-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
    margin-bottom: 72px;
}

.networks-title,.text-email{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.networks-access-icon{
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;}

    .networks-access-item .networks-access-link:hover,
    .networks-access-item .networks-access-link:focus {
      background-color: #31d0aa;}

      .networks-access-link{
        display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.footer-email, .form-email, .information-from-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
  }

  .button-label{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon{
    margin-left: 16px;
}
/* =========================Backdrop============== */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

        }
    .backdrop.is-open{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
.modal{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(1);
width: 288px;
background: #fcfcfc;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 72px 24px 24px 24px;
}

.modal-icon-btn{
    position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 0;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
  background-color: transparent;
} 
.modal-icon-btn:hover {
    border: none;
    background-color: #404bbf;
}
.modal-icon-btn:focus{
    border: none;
    background-color: #404bbf;
}

.modal-close-btn-icon{
    fill: #ffffff; 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.leave-your-details{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;

}
.information-about-yourself, .information-from-checkbox-wrapper{
    margin-bottom: 8px; 
}
.information-about-yourself-label{
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    color: #8E8F99;
    
}
.review-form-inpyt{
    position: relative;
}
.information-about-yourself-input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.information-about-yourself-input:focus{
    border-color: #4D5AE5;
    outline-color: transparent;
    outline-offset: 4px;  

}

.review-from-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.information-about-yourself-comment{
    margin-bottom: 16px;  
}
.information-about-yourself-message{
    display: block;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    color: #2E2F4266;
}

.information-about-yourself-message:focus {
    border-color: #4D5AE5;
    outline-color: transparent;
    outline-offset: 4px;
}
.information-from-checkbox-wrapper{
    margin-bottom: 24px;}
    .information-from-checkbox-label{
        font-size: 12px;
        line-height: 1.17;
        font-weight: 400;
        letter-spacing: 0.04em;
        color: #8e8f99;
    
    
    }
    .review-form-checkbox{
        display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    cursor: pointer;
    border-radius: 2px;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
    

.information-about-yourself-input:focus + .review-from-icon{
    fill: #4d5ae5;}

.information-from-checkbox:checked + .review-form-checkbox{ 
    background-color: #404bbf;
}
.information-from-checkbox:checked + .information-from-checkbox-label .review-form-checkbox{ 
    background-color: #404bbf; 
    border: none;
    fill: #f4f4fd;
}
.accept-color { 
    color: #4d5ae5; 
}
.information-from-btn{ 
    display: block;
    margin-right: auto;
    margin-left: auto;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ============== Modile menu ============== */

@media screen and (max-width: 767px){
    .mobile-open-btn {
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
    fill: #2f2f37;

    }
/* =======================burger================== */
    .mobile-menu{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 999999999;
        padding-left: 16px;
        padding-right: 16px;
        background-color: #FFFFFF;
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }

 .mobile-menu, .is-open{    
        transform: translateX(0%); }

.mobile-menu-container{
        position: relative;
        }
.modal-icon-btn-item{
  position: absolute;
display: flex;
align-items: center;
justify-content: center;
width: 24px;
height: 24px;
top: 24px;
right: 24px;
padding: 0;
line-height: 0;
background-color: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.10);
border-radius: 50%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn-icon{
fill: #2E2F42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-navigation-mobil{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 72px;
    margin-bottom: 168px;
    gap: 40px;
     
}
.mobile-nav{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-transform: capitalize;}
 .mobile-nav:hover,
.mobile-nav:focus{
    color: #404bbf;
}


.mobile-address-item{
display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}
 
.modile-contact {
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    font-style: normal;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #434455;
 
}

.modile-contact:hover,
.mobile-address:focus{
    color: #4d5ae5;  
}

  
.mobil-network-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 40px;
}
.mobil-network-link-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}


.mobil-network-link-icon:hover,
.mobil-network-link-icon:focus{
    background-color: #404bbf;
}
.mobil-network-link-icon{
    fill: #F4F4FD;
}
}
    /* ==============media напів-гумовий=============== */
    @media screen and (min-width: 480px) {
        .container {
          width: 350px;
          margin-left: auto;
          margin-right: auto;
        }
      }

      /* ========================Header Tablet======= */
      @media screen and (min-width: 768px) {
        .container{
            width: 768px;
        }
        .mobile-menu{
            display: none;
        }
.mobile-open-btn{
display: none;
}
.page-navigation{
    display: flex;
    align-items: center;}

    .logo-web{
margin-right: 120px;
    }
      
.menu{
display: flex;
gap: 40px;
}

.contents{
    position: relative;
color: #404bbf;}


.page-nav{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.page-nav:hover,
.page-nav:focus {
    color: #404BBF;
}
.contents::after{
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    content: "";
}

.page-address-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    font-style: normal;
}
.page-address-info-item{
font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        font-style: normal;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #434455
}
.page-address-info-item:hover,
.page-address-info-item:focus{
    color: #404BBF;
}
/* =======================hero Tablet============= */
 .hero-section{
    padding-bottom: 112px;
    padding-top: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/tablet@1x.jpg); 
}
@media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), 
screen and (min-device-pixel-ratio: 2){
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/tablet@2x.jpg);
    }
}
.main-title{
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
}
/* =================== our section tablet============ */
.criteria-section, .team-section-our, .portfolio{
display: flex;
flex-direction: row;
flex-wrap: wrap;
column-gap: 24px;
}
.criteria-list-item, .portfolio-list{
    width: calc((100% - 24px) / 2);
}
.criteria-list-title{
    text-align: left; }

/* }=========================portfolio tablet============ */
.portfolio-list{
    row-gap: 72px;
}
.profession-list-img{
    width: 356px; 
}
   
/* =============================footer tablet============= */
.footer-one-item, .container-networks-two, .form-email{
    justify-content: flex-start;
    align-items: flex-start; 

}
.footer-email{
    align-items: flex-start;}
.flex-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
   
}
.text-footer-paragraphe, .information-about-yourself-input{
width: 264px;
}

.form-email{
    flex-direction: row;
    column-gap: 24px;
}
.footer-intyp{
    width: 264px;
}
.modal{
    width: 408px;
    min-height: 584px;
}
      }
/* =========================================Main page */
 @media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }
    
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .logo-web{
        margin-right: 76px;
            }

.page-address-info{
    flex-direction: row;
    gap: 40px;
}
.page-address-info-item{
    font-size: 16px;}
.hero-section{
    height: 600px;
    max-width: 1440px;
    padding-bottom: 188px;
    padding-top: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-main\ 1.jpg); 
}
@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
    screen and (min-resolution: 2dppx) and (min-width: 1158px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-main1@2x\ \(2\).jpg);
    }
}

.main-title {
    
    margin-bottom: 48px;
}
/* =================== our section main page============ */
.icon-list, .team-section-our{
    display: flex;
    flex-direction: row;
    gap: 24px;
    }
    .icon-list-item, .team-section-list-item{
        width: calc((100% - 3 * 24px) / 4) ;
    }

    .container-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    margin-bottom: 8px;
    background: #F4F4FD;}

.criteria-list-title{
text-align: center;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
margin-bottom: 8px;
color: #2E2F42;}
.text{
font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}
 /* }=========================portfolio main page============ */
.portfolio-list{
    row-gap: 72px;
}
   .portfolio-list{
    width: calc((100% - 2 * 24px) / 3);
   }
/* =============================footer main page============= */
.page-footer{ 
padding-top: 100px;
padding-bottom: 100px;
height: 312px;
}
.flex-footer{
flex-wrap: nowrap;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
align-items: baseline;
column-gap: 0;}

.footer-one-item{
margin-right: 120px;
 margin-bottom: 0;}

.page-footer-list{
    margin-right: 120px;
    margin-bottom: 0;
}
 .container-networks-two{
    margin-right: 80px;
    margin-bottom: 0;
   
 }

.footer-email{
    align-items: flex-start;
}
.form-email{
    display: flex;
    margin-top: 16px;
    gap: 24px;
    
}
 }