
h1,
 h2,
 h3,
 h4, 
 h5, 
 h6,
p {
    margin-top: 0;
    margin-bottom: 0;
    
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}


img {
    display: block;
}
button {
    cursor: pointer;
    
        
}
.list {
list-style-type: none;
}
.link{
   text-decoration: none; 
}
body {
    font-family: 'Roboto', sans-serif; 
    color: #434455;
    background-color: #ffffff;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* ======== Page header==================================== */
.page-header {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);

   
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;}

 .container-flex{
    display: flex;
    align-items: center;
 }   
    
.page-navigation {
    gap: 40px;
    display: flex;
    align-items: center;
          
}
.logo-web{
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
     color: #4d5ae5; 

}
.logo-span {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
      
}

 .logo-web:hover,
 .logo-span:focus{
color: #404bbf;
}

.menu {
display: flex;
gap: 40px;
   }
   .contents{
    position: relative;}

    .page-nav{
    font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px;
  display: block;
  color: #2e2f42;}



    .page-nav.contents.link::after{
            content: "";
            position: absolute;
            display: block;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: #404bbf;
    }

   .page-nav.contents.link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;
   }
 /*==== Contacts=========================================== */
.page-contacts{
margin-left: auto;
display: flex;
gap: 40px;
}

 .page-contacts-list{
display: flex;
gap: 40px;
}
    
 .contacts-list-item {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;


}
 
.contacts-list-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
   



.contacts-list-item:hover,
.contacts-list-item:focus {
    color: #404bbf;

}
 

 /* ==============HERO SECTION =============================== */ 

 .hero-section{
 max-width: 1440px;
 margin: 0 auto;
padding-top: 188px;
padding-bottom: 188px;
background:  #2e2f42;
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
 rgba(46, 47, 66, 0.7)),
  url(../images/people-office.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.main-title  {
    max-width: 496px;
    color: #ffffff;
    text-align:center;
    font-size: 56px;
    font-weight:700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto;
   margin-bottom: 48px;
   


}
.other-service {
    
    margin:  auto;
    padding: 16px 32px 16px 32px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
     color: #ffffff}
 
    

.other-service{
   display: block;
   min-width: 169px;
   height: 56px;
   border: none;
   background-color: #4d5ae5;
   border-radius: 4px;
   margin-top: 48px;
   margin-right: auto;
   margin-left: auto;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   color: #ffffff;
   background: #4d5ae5;
}
.button{
    
   
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    margin:  auto; 
}
  .other-service:hover,
  .other-service:focus{
background-color: #404bbf;

}

  /* ========  OUR Section=======================================*/

.section-one-name{
    padding: 120px 0 120px;
    background: #ffffff;
}
.icon-list {
    display: flex;
    gap: 24px;
  }
  .container-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;

  }
.criteria-section{
   display: flex;
    gap: 24px;
    }
.criteria-list-item{
    width: calc((100% - 72px) / 4);
}

.criteria-list-title{

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px; 
}
.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

/* ========================< !--Our Team -->================== */


.team-section{
padding: 120px 0 120px;
background-color: #F4F4FD;

}
.section-title{
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
color: #2E2F42;
}
.team-section-our {
    display: flex;
    gap: 24px;
}
.team-section-list-item{
width: calc((100% - 72px) / 4);
background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
background-color: #ffffff;
 }

.first-name{
 padding: 32px 0;
}
    
.team-section-list-title{
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
background-color: #FFFFFF;
text-align: center;
margin-bottom: 8px;
}
.text-section{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;  }

    .network-link {
        display: flex;
        gap: 24px;
        justify-content: center;
      }
      
      .network-link-item{
        width: 40px;
        height: 40px;
      }
        
      .network-link-icon {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #4d5ae5;
}
.network-link-icon:hover,
.network-link-icon:focus {
  background-color: #404bbf;}


      .link-icon {
        fill: #f4f4fd;

      }
/* ==============================Portfolio====================== */
.portfolio-section  {
   padding-top: 120px;
   padding-bottom: 120px;
   background: #ffffff;
  
}
.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2e2f42;  
    margin-bottom: 72px; 
    text-align: center;

}  

.portfolio{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;   
}
.portfolio-list{
    width: calc((100%-(2*(3*24px))) / 6);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-list:hover{
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
      transform: translateY(0%);   
    }

.portfolio-list-title{
font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
    margin-bottom: 72px; 
    margin-bottom: 8px;
 }
 .text-ex-image{  
position: relative;
overflow: hidden;

}
.portfolio-list:hover .text-app,
.portfolio-list:focus .text-app{
    transform: translateY(0%);
}
.text-app{
    font-family: 'Roboto';
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #f4f4fd;
    background-color: #4d5ae5;  
}
.container-profesiya{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;

}
/* =================================Footer============================== */
.page-footer{
    background: #2e2f42;
    padding-top: 100px; 
    padding-bottom: 100px;
}

.flex-footer{
    display: flex;
    align-items: baseline;

}
.footer-one-item{
    margin-right: 120px;}

.page-footer-list{
   font-size: 18px;
   font-weight: 700;
   line-height: 1.17;
   letter-spacing: 0.03em;
   color: #4D5AE5;
   background-color: #2E2F42;
   margin-bottom: 16px;
   display: inline-block;
}
.logo-title-studio{
font-family: "Raleway";
   font-size: 18px;
   font-weight: 700;
   line-height: 1.1;
   letter-spacing: 0.03em;
   color: #F4F4FD;
   text-transform: uppercase;

}
.text-footer-paragraphe{
   color: #f4f4fd;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   max-width: 264px;
min-height: 112px;}

.networks-title{
    font-family:"Raleway";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #ffffff;}
    
.networks-access-icon{
display: flex;
  gap: 16px;
  width: 100%;
  height: 100%;}

  .networks-access-item .networks-access-link:hover,
.networks-access-item .networks-access-link:focus {
  background-color: #31d0aa;
}
.networks-access-link{
display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}


/* ======== email========*/

.footer-btn-title{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #ffffff;
    }
 
.form-email{
    display: flex;
    margin-top: 16px;
    gap: 24px;
    height: 100%;
    width: 100%;
   
}
   
.footer-intyp{
min-width: 264px;
height: 40px;
border-radius: 4px;
border: 1px solid #ffffff;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
background-color: transparent;}

.form-email-input{
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #ffffff;
}
  .button-label{
    font-family: 'Roboto' sans-serif;
    display: inline-flex;
    min-width: 165px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    color: #ffffff;
    justify-content: center;
    align-items: center;
  
}
.form-icon{
    margin-left: 16px;
    
}
   
/* ============Backdrop styles */
.backdrop{
   position: fixed; 
   top: 0;
   left: 0;
   z-index: 999999999;
   width: 100%;
   height: 100%;
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(46, 47, 66, 0.4);
}
.backdrop.is-open{
    opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* ======Modal WINDOW======= */
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
width: 408px;
min-height: 584px;
border-radius: 4px;
padding: 72px 24px 24px 24px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
 0px 2px 1px rgba(0, 0, 0, 0.2);
background: #fcfcfc;
}

.modal-icon-btn{
    background: #2E2F42;

}
.modal-icon-btn{
    display: flex;
position: absolute;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
background-color: transparent;
border-radius: 50%;
padding: 0;
line-height: 0;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  align-items: center;
  justify-content: center;
}  
    .modal-icon-btn:hover {
        border: none;
        background-color: #404bbf;
    }
    .modal-icon-btn:focus{
        border: none;
        background-color: #404bbf;
    }
.modal-icon-btn:hover > .modal-close-btn-icon,
.modal-icon-btn:focus > .modal-close-btn-icon{
    fill: #ffffff;}
    
    .modal-close-btn-icon{
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.leave-your-details{
    width: 360px;
    color:  #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    margin-bottom: 16px;  
}
.information-about-yourself{
    width: 360px;
    margin-bottom: 8px;  }
    /* ======== form windows======*/
    .information-about-yourself-label{
display: block;
font-size: 12px;
font-weight: 400;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 4px;

    }
.review-form-inpyt{
    position: relative; 
}
.information-about-yourself-input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.information-about-yourself-input:focus{
    border-color: #4d5ae5;
    outline-color: transparent;

}
.review-from-icon{
    position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.information-about-yourself-input:focus + .review-from-icon{
    fill: #4d5ae5;
}

.information-about-yourself-comment{
    margin-bottom: 16px;  
}
.information-about-yourself-message{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
}
.information-about-yourself-message:focus{
    border-color: #4D5AE5;
}
.information-from-checkbox-wrapper{
    margin-bottom: 24px;
}
.information-from-checkbox-label{
    font-size: 12px;
    line-height: 1.17;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #8e8f99;  
}
.review-form-checkbox{
    display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;

}
.information-from-checkbox:checked + .information-from-checkbox-label .review-form-checkbox{
    background-color: #404bbf; 
    border: none;
    fill: #f4f4fd;
}
.accept-color {
    color: #4d5ae5; 
}
.information-from-btn{
        display: block;
        font-family: "Roboto", sans-serif;
        min-width: 169px;
        height: 56px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        border: none;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #ffffff;
        background-color: #4d5ae5;

}