h1,
 h2,
 h3,
 h4, 
 h5, 
 h6,
p {
    
    margin-top: 0;
    margin-bottom: 0;
    
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    
}
button {
    cursor: pointer;
    
        
}
.list {
list-style-type: none;
}
.link{
   text-decoration: none; 
}
body {
    font-family: 'Roboto', sans-serif; 
    color: #434455;
    background-color: #ffffff;
    min-width: 320px;
}
.wrapper {
    
        overflow: clip;
        display: flex;
        flex-direction: column;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
    
.container{
     
        padding-left: 15px;
        padding-right: 15px;
     
}

  /* ==========Загальні стилі======== */
/* ============== HEADER MOBILE STYLES ================================= */
.menu {
    display: none;

}
.page-address-info{
    display: none;

}
.page-header {
    width: 100%;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}


.container{
display: flex;
  align-items: center;
  justify-content: space-between;
}
   .logo-web{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
     color: #4d5ae5;
     display: block;
padding-top: 16px;
padding-bottom: 16px;

}

.logo-color {
    color: #2e2f42;}
        /* ========================Mobile menu============================== */
        .backdrop{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 999999999;
            background-color: #ffffff;
            transform: translateX(100%);
            transition: transform 250ms linear;
            background-color: rgba(46, 47, 66, 0.4);
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
     
                }
            .backdrop.is-open{
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
            }
            
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 288px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

 .modal-icon-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-btn:hover,
.modal-icon-btn:focus{
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.mobile-close-btn-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
/* ================= hero mobile styles========== */
.hero-section{
    max-width: 767px;
    margin-right: auto;
    margin-left: auto;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), 
    url(../images/mobilpeople-office-bark@1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), 
screen and (min-device-pixel-ratio: 2) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/mobilpeople-office-bark@2.jpg);
    }
}
.container-logo{
    padding-top:  72px;
    padding-bottom: 72px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 767px;
    margin-right: auto;
    margin-left: auto;}

.main-title  {
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
    margin-top: 72px;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
    
.other-service{

display: block;
    margin-right: auto;
    margin-left: auto;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
    color: #FFFFFF;
}

  .other-service:hover,
  .other-service:focus{
    background-color: #404bbf;
  }
  




.other-service:hover,
.other-service:focus{
    background-color: #404bbf;
  }

/* ============== /HEADER MOBILE STYLES ============== */

@media screen and (max-width: 767px){
    .mobile-open-btn {
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
    fill: #2f2f37;

    }
/* =======================burger */
    .mobile-menu{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 999999;
            background-color: #F4F4FD;
            transform: translateX(100%);
            transition: transform 250ms linear;
            background-color: #ffffff;
        }  
.mobile-menu.is-open{
        transform: translateX(0%);
}
.mobile-menu-container{
    position: relative;
    padding: 72px 16px 40px;
    display: flex;
    flex-direction: column;
    height: 100%;

}
.modal-close-btn-icon{
    position: absolute;
    top: 24px;
    right: 23px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    line-height: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    fill: #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.mobile-open-btn:hover,
.momobile-open-btn:focus {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;}

    .modal-close-btn-icon{
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


    }

    }

    /* ==============media напів-гумовий=============== */
    @media screen and (min-width: 480px) {
        .container {
          width: 352px;
          margin-left: auto;
          margin-right: auto;
        }
      }